venv/
__pycache__/
*.pyc
*.pyo
.DS_Store
.idea/
*.log
*.sqlite3
*.env
*.bak
*.swp
*.tmp
*.zip
*.tar.gz
*.egg-info/
dist/
build/
*.egg
*.cover
.coverage
htmlcov/
*.pytest_cache/
.mypy_cache/
.pytest_cache/
